{% load static %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Sistema Logístico{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

<div class="layout">
    <aside class="sidebar">
        <div class="logo-container">
            <img src="{% static 'img/logo.png' %}" style="width: 90px; height: auto;" alt="Logo" class="logo-img">
            <h2 class="logo">LogiSys</h2>
        </div>

        {% if user.is_authenticated %}
                <p class="user-info">{{ user.username }} ({{ user.rol }})</p>
        {% endif %}
        

        <nav class="menu">
            <a class="btn" href="{% url 'inventory:dashboard' %}">Dashboard</a>

            {% if user.rol == "ADMIN" %}
                <a class="btn" href="{% url 'accounts:usuario_crear' %}">Usuarios</a>
            {% endif %}

            {% if user.rol == "ADMIN" or user.rol == "SUPERVISOR" %}
                <a class="btn" href="{% url 'catalog:productos_list' %}">Productos</a>
                <a class="btn" href="{% url 'catalog:producto_crear' %}">Agregar producto</a>
                <a class="btn" href="{% url 'warehouse:ubicaciones_list' %}">Ubicaciones</a>
                <a class="btn" href="{% url 'warehouse:asignaciones_list' %}">Asignaciones</a>
                <a class="btn" href="{% url 'picking:ordenes_list' %}">Picking</a>
            {% endif %}

            {% if user.rol == "SUPERVISOR" or user.rol == "OPERARIO" %}
                <a class="btn" href="{% url 'inventory:movimientos_list' %}">Movimientos</a>
            {% endif %}

            {% if user.rol == "ADMIN" or user.rol == "SUPERVISOR" or user.rol == "OPERARIO" %}
                <a class="btn" href="{% url 'receiving:receipt_list' %}">Recepciones</a>
                <a class="btn" href="{% url 'inventory:movimiento_crear' %}">Registrar movimiento</a>
                <a class="btn" href="{% url 'warehouse:consulta_ubicacion' %}">Consulta SKU</a>
                <a class="btn" href="{% url 'picking:mis_pickings' %}">Mis Pickings</a>
            {% endif %}

            <a class="btn btn-outline-danger" href="{% url 'accounts:logout' %}">Cerrar sesión</a>
        </nav>
    </aside>

    <main class="main-content">
        {% if messages %}
            {% for message in messages %}
                <div class="msg {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </main>

</div>

</body>
</html>