{% extends "base.html" %}

{% block title %}Mis Pickings{% endblock %}

{% block content %}
<div class="container py-4">

    <h3 class="mb-4">Mis Pickings</h3>

    <div class="card bg-secondary text-light shadow border-0">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tabla-personalizada table-hover align-middle mb-0">
                    <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Ubicación</th>
                            <th class="text-end">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in detalles %}
                        <tr>
                            <td>#{{ d.orden.id }}</td>
                            <td>{{ d.producto.sku }} - {{ d.producto.nombre }}</td>
                            <td>{{ d.cantidad }}</td>
                            <td>{{ d.ubicacion.codigo }}</td>
                            <td class="text-end">
                                <a class="btn btn-primary btn-sm" href="{% url 'picking:confirmar_picking' d.id %}">
                                    Confirmar
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-light py-3">
                                No tienes pickings asignados.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}