{% extends "base.html" %}
{% block title %}Órdenes Picking{% endblock %}

{% block content %}
<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0">Órdenes de Picking</h3>

        <a class="btn btn-dark text-start mb-3" href="{% url 'picking:orden_crear' %}">
            + Nueva Orden
        </a>
    </div>

    <div class="card bg-secondary text-light shadow border-0">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table tabla-personalizada table-hover align-middle mb-0">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>Supervisor</th>
                            <th>Estado</th>
                            <th class="text-end">Acción</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for o in ordenes %}
                        <tr>
                            <td>#{{ o.id }}</td>
                            <td>{{ o.fecha|date:"d/m/Y H:i" }}</td>
                            <td>{{ o.supervisor }}</td>

                            <td>
                                {% if o.estado == "CREADA" %}
                                    <span class="badge bg-secondary">Creada</span>

                                {% elif o.estado == "EN_PROCESO" %}
                                    <span class="badge bg-warning text-dark">En proceso</span>

                                {% elif o.estado == "COMPLETADA" %}
                                    <span class="badge bg-success">Completada</span>

                                {% else %}
                                    <span class="badge bg-danger">Cancelada</span>
                                {% endif %}
                            </td>

                            <td class="text-end">
                                <a class="btn btn-dark text-start mb-3"
                                    href="{% url 'picking:orden_detalle' o.id %}">
                                    Abrir
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-light py-3">
                                No hay órdenes registradas.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
    </div>

</div>
{% endblock %}