{% extends "base.html" %}

{% block content %}

    <h3>Orden #{{ orden.id }}</h3>

    <h4>Agregar producto</h4>

    <p><strong>Estado:</strong> {{ orden.get_estado_display }}</p>

    {% if form.errors %}
        <div class="msg error">
            {{ form.errors }}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="row">

            <div>
                <label>Producto</label>
                {{ form.producto }}
            </div>

            <div>
                <label>Cantidad</label>
                {{ form.cantidad }}
            </div>

            <div>
                <label>Ubicación</label>
                {{ form.ubicacion }}
            </div>

            <div>
                <label>Operario</label>
                {{ form.operario }}
            </div>

        </div>

        <button class="btn">Agregar</button>

    </form>

    <hr>

    <h4>Productos en la orden</h4>

    <table style="width:100%">

        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Ubicación</th>
            <th>Operario</th>
            <th>Estado</th>
        </tr>

        {% for d in detalles %}

        <tr>
            <td>{{ d.producto }}</td>
            <td>{{ d.cantidad }}</td>
            <td>{{ d.ubicacion }}</td>
            <td>{{ d.operario }}</td>
            <td>
                {% if d.confirmado %}
                ✔
                {% else %}
                Pendiente
                {% endif %}
            </td>
        </tr>

        {% endfor %}

    </table>

{% endblock %}