{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %} {% block title %}Nuevo producto{% endblock %}

{% block content %}
<div class="container py-4">

    <h3 class="mb-4">Nuevo producto</h3>

    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">

            <div class="card bg-dark text-light shadow border-0">
                <div class="card-body p-4">

                    <form method="post">
                        {% csrf_token %}

                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label"><strong>SKU</strong></label>
                                {% render_field form.sku class="form-control" placeholder="Ej: PROD-001" %}
                            </div>

                            <div class="col-md-6">
                                <label class="form-label"><strong>Código de barras</strong></label>
                                {% render_field form.codigo_barra class="form-control" %}
                            </div>

                            <div class="col-md-12"> <label class="form-label"><strong>Nombre</strong></label>
                                {% render_field form.nombre class="form-control" %}
                            </div>

                            <div class="col-md-12">
                                <label class="form-label"><strong>Categoría</strong></label>
                                {% render_field form.categoria class="form-select" %}
                            </div>

                            <div class="col-md-6">
                                <label class="form-label"><strong>Stock mínimo</strong></label>
                                {% render_field form.stock_minimo class="form-control" type="number" %}
                            </div>

                            <div class="col-md-6">
                                <label class="form-label"><strong>Stock actual</strong></label>
                                {% render_field form.stock_actual class="form-control" type="number" %}
                            </div>

                        </div>

                        <div class="mt-4 d-flex gap-2">
                            <button class="btn btn-secundary" type="submit">
                                Guardar producto
                            </button>

                            <a href="{% url 'catalog:productos_list' %}" class="btn btn-secundary">
                                Cancelar
                            </a>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}