{% extends "base.html" %}
{% block title %}Nueva asignación{% endblock %}

{% block content %}
    <h3>Nueva asignación</h3>

    {% if form.errors %}
        <div class="msg error">
            {{ form.errors }}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="row">
            <div>
                <label>Producto</label>
                {{ form.producto }}
            </div>

            <div>
                <label>Ubicación</label>
                {{ form.ubicacion }}
            </div>
        </div>

        <div style="margin-top:14px; display:flex; gap:10px;">
            <button class="btn" type="submit">Guardar</button>
            <a class="btn" style="text-decoration:none; padding:10px 12px; display:inline-block;"
                href="{% url 'warehouse:asignaciones_list' %}">Volver</a>
        </div>
    </form>
{% endblock %}